/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: ufcfont;
    src: url(Sternbach.ttf);
    
   }

   h2 {
    color: darkred;
   }

   p{
    color: darkred;
   }
   

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
   font-family: ufcfont;
   
   

}

#ufc {
    width: 120px;
height: 43.674px;
-ms-flex-negative: 0;
    flex-shrink: 0;
margin-left: 79px;
margin-top: 21px;
margin-right: 197px;
}

#sataurebi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    position: sticky; 
    
}

#list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 63px; ;
    color: #000;
font-size: 20px;
font-style: normal;
line-height: normal;
margin-top: 31px;

}


#textebi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#search {
    width: 188px;
height: 21px;
-ms-flex-negative: 0;
    flex-shrink: 0;
border-radius: 40px;
background: rgba(217, 217, 217, 0.50);
margin-left: 79px;
margin-top: 31px;
}

#searchlogo {
    width: 33px;
height: 33px;
-ms-flex-negative: 0;
    flex-shrink: 0;
margin-left: 6px;
margin-top: 25px;
}

#kaci {
    width: 24px;
height: 24px;
-ms-flex-negative: 0;
    flex-shrink: 0;
margin-left: 83px;
margin-top: 25px;
}

#pin {
    width: 24px;
height: 24px;
-ms-flex-negative: 0;
    flex-shrink: 0;
margin-top: 25px;
margin-left: 14px;
}
#cart {
    width: 24px;
height: 24px;
-ms-flex-negative: 0;
    flex-shrink: 0;
margin-top: 25px;
margin-left: 14px;
}


.container {
background-image: url(fotoebi/3755126-76392448-2560-1440.png);   

height: 615px;
margin-top: 55px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
background-repeat: no-repeat;
background-size:cover




}

a {
    list-style: none;
    text-decoration: none;
}






.slogan {
    width: 684px;
height: 152px;
-ms-flex-negative: 0;
    flex-shrink: 0;
font-size: 70px;
color: #FFF;
margin-left: 280px;
margin-top: 100px;
}

#text1 {
    text-align: center;
    color: darkred;
    font-size: 66px;
    font-style: normal;
    line-height: normal;
    margin-top: 98px;
    translate: -30px
    ;
    }
    
   
    
    
    
  






#vs {
    margin-left: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 102px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 50px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
 margin-right: 60px;  
 gap: 127px; 

 
 }
 
 #vs:hover {
     -webkit-transform: scale(1.05);
         -ms-transform: scale(1.05);
             transform: scale(1.05);
     
 }
 
 
 
 #lvsc {
     width: 212px;
 height: 192px;
 -ms-flex-negative: 0;
     flex-shrink: 0;
 margin-left: 45px;
 }
 
 #lvsc2 {
    width: 252px;
height: 192px;
-ms-flex-negative: 0;
    flex-shrink: 0;
margin-left: 35px;
 }
 #lvsc3 {
    width: 242px;
height: 192px;
-ms-flex-negative: 0;
    flex-shrink: 0;
margin-left: 45px;
 }
 #text2 {
     color: #000;
 font-size: 24px;
 font-style: normal;
 line-height: normal;
 white-space: pre;
 margin-top: 27px;
 margin-left: 40px;
 }

 #text3 {
    color: #000;
font-size: 24px;
font-style: normal;
line-height: normal;
white-space: pre;
margin-top: 27px;
margin-left: 60px;
}

#foto3 {
    background-image: url(fotoebi/High_resolution_wallpaper_background_ID_77702047990.webp);
    margin-top: 150px;
    height: 523px;
}

#text5 {
    font-size: 45px;
    margin-left: 297px;
    padding-top: 90px;
    color: #FFF;
}

#inside {
    width: 749px;
height: 524px;
-ms-flex-negative: 0;
    flex-shrink: 0;
background: rgba(0, 0, 0, 0.50);
}

#text4 {
    margin-top: 70px;
    margin-left: 85px;
    font-size: 25px;
    color: #FFF;
}
   
#footer {
    width: 100%;
height: 430px;
-ms-flex-negative: 0;
    flex-shrink: 0;
background: #E4E4E4;
margin-top: 191px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
#tbc {
    width: 69px;
height: 58px;
-ms-flex-negative: 0;
    flex-shrink: 0;
margin-top: 35px;
margin-left: 43px;
}
 #tbcs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
 }

 #tbc1 {
    font-size: 32px;
    margin-top: 40px;
    margin-left: 5px;

 }

 #text6 {
    margin-left: 53px;
    font-size: 24px;
    margin-top: 7px;
 }

 #list2 {
    margin-left: 15px;
    margin-top: 44px;
    list-style: none;
    text-decoration: none;
    gap: 15px;
    font-size: 24px;
 }
 #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
    margin-left: 37px;
    gap: 6px
    ;
 }

 #help {
    margin-left: 491px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 61px;
    font-weight: 800;
    font-size: 36px;
 }
  #list3 {
    margin-top: 32.5px;
    font-size: 24px;
    margin-left: 450px;
    list-style: none;
  }
  #footer3 {
    margin-left: -321px;
  }

  #input {
    width: 339px;
height: 40px;
-ms-flex-negative: 0;
    flex-shrink: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin-top: 95px;
margin-left: 190px;
gap: 38px;
border-radius: 12px;

  }
  #box {
    width: 148px;
height: 40px;
-ms-flex-negative: 0;
    flex-shrink: 0;
border-radius: 12px;
background: #273A47;
text-align: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;

  }
  #menu {
    width: 48px;
height: 43.674px;
-ms-flex-negative: 0;
    flex-shrink: 0;
margin-top: 22.5px;
display: none;
  }

  #text7 {
    color: #FFF;
    margin-top: 9px;
  }
 
  @media screen and (max-width:768px) { 


    #list2 {
        display: none;
    }

    #footer3 {
position: relative;    
right: 400px;
}
#footer2 {
    position: relative;
    right: 763px;
    top: 100px;
}
#footer3 {
    top: 100px;
    right: 813px; 
}

    #text4 {
        display: none;
    }
    #text5 {
        
        padding-bottom: 150px;
        position: relative;
        top: 150px;
    }

    #input {
        display: none;
    }
    #menu {
        display: block;
        translate: 300px;
    
    }
    #contact {
        position: relative;
        top: 200px;
    }
    #text6 {
        white-space: pre;
    }
    #help {
        font-size: 24px;
    }
    #list3 {
        font-size: 16px;
    }
    #textebi {
        display: none;
    }

    #vs {
        translate: -10px
        ;
    }
    #tvsp {
        translate: -5px;
     }
     #tvsl {
        translate: -10px
        ;
     }
     #text1 {
        translate: 5px
        ;
     }
    
  }