/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@font-face {
    font-family: ufcfont;
    src: url(Sternbach.ttf);
    
   }

   h2 {
    color: darkred;
   }

   p{
    color: darkred;
   }
   

* {
   font-family: ufcfont;
}


body {
    background-color: darkred;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10%;
}

#background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 600px;
    width: 450px;
    background-color: white;
    border-radius: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

#text1 {
    font-size: 48px;
}

input {
    border-radius: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
    font-size: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}


img {
    width: 24px;
    height: 24px;
    margin-top: 15px;
}

#users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   gap: 15px;
}
#numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
}

#mails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
}
#names {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
}
#confirm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
}

#button {
    background-color: black;
    width: 200px;
    height: 50px;
    margin: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 45px;
    border-radius: 24px;
    color: white;
    translate: 15px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    text-decoration: none;

}

#button :hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

#back {
    color: white;
    font-size: 24px;
    margin-left: 5px;
    text-decoration: none;
}

#back2 {
    text-decoration: none;
}

#back3 {
    text-decoration: none;
}





   

  